#rest apis
flask
flask_cors
uvicorn
gunicorn
load_dotenv

#postgres db
psycopg2-binary

# open ai
openai

##
torch
torchvision
pillow
numpy<2
#sentence-transformers
#transformers
#accelerate
transformers==4.41.2
accelerate==0.30.1
sentence-transformers==2.7.0
